// Overall Container Styles
.cursor-pointer{
    cursor: pointer;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px;

    .search-bar {
        margin-bottom: 20px;
    }

    .tableView {
        margin-top: 20px;

        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 15px;

            .card-header {
                background-color: #007bff;
                color: #fff;
                font-weight: bold;
                padding: 10px;
                border-radius: 5px 5px 0 0;
            }

            table {
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;

                th, td {
                    padding: 10px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                }

                th {
                    background-color: #f2f2f2;
                    font-weight: bold;
                }
            }
        }
    }

    .form-inline {
        display: flex;
        justify-content: center;
    }

    .input-group {
        width: 100%;

        input[type=search] {
            width: 70%;
        }

        .btn {
            width: 100%;

            &.btn-outline-success {
                background-color: #28a745;
                color: #fff;
                border-color: #28a745;

                &:hover {
                    background-color: #218838;
                    border-color: #1e7e34;
                }
            }

            &.btn-danger {
                background-color: #dc3545;
                color: #fff;
                border-color: #dc3545;

                &:hover {
                    background-color: #c82333;
                    border-color: #bd2130;
                }
            }
        }
    }
}